@model List<BillsApp.DTOs.TransactionElementDTO>

@{
    ViewData["Title"] = "Create";
}

<div class="view">
    <h3>Add transaction elements</h3>
    <form asp-action="Create" enctype="multipart/form-data" method="post">
                <div id="table" class="table-editable">
                    <span class="table-add float-right mb-3 mr-2">
                        <a href="#" class="text-success">
                            <i class="fas fa-plus fa-2x" aria-hidden="true"></i>
                        </a>
                    </span>
                    <table class="table table-bordered table-responsive-md table-striped text-center">
                        <thead>
                            <tr>
                                <th class="text-center">Product Name</th>
                                <th class="text-center">Price</th>
                                <th class="text-center">Amount</th>
                                <th class="text-center">Unit</th>
                                <th class="text-center">Remove</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
        </div>
        <!-- Editable table -->

        <div class="form-group">
            <input type="button" id="export-btn" value="Finish" name="Finish" class="btn btn-default" />
        </div>
    </form>
</div>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        const $tableID = $('#table');
        const $BTN = $('#export-btn');

        const newTr = `<tr class="hide">
       <td class="pt-3-half" contenteditable="true"></td>
       <td class="pt-3-half" contenteditable="true"></td>
       <td class="pt-3-half" contenteditable="true"></td>
       <td class="pt-3-half" contenteditable="true"></td>
       <td>
         <span class="table-remove"><button type="button" class="btn btn-danger btn-rounded btn-sm my-0 waves-effect waves-light">Remove</button></span>
       </td>
     </tr>`;

        $('.table-add').on('click', () => {

            $('tbody').append(newTr);

        });

        $tableID.on('click', '.table-remove', function () {

            $(this).parents('tr').detach();
        });


        // A few jQuery helpers for exporting only
        jQuery.fn.pop = [].pop;
        jQuery.fn.shift = [].shift;

        $BTN.on('click', () => {

            const $rows = $tableID.find('tr:not(:hidden)');
            const headers = [];
            const data = [];

            // Get the headers (add special header logic here)
            $($rows.shift()).find('th:not(:empty)').each(function () {

                headers.push($(this).text().toLowerCase());
            });

            // Turn all existing rows into a loopable array
            $rows.each(function () {
                const $td = $(this).find('td');
                const h = {};

                // Use the headers from earlier to name our hash keys
                headers.forEach((header, i) => {

                    h[header] = $td.eq(i).text();
                });

                data.push(h);
            });

            var getUrlParameter = function getUrlParameter(sParam) {
                var sPageURL = window.location.search.substring(1),
                    sURLVariables = sPageURL.split('&'),
                    sParameterName,
                    i;

                for (i = 0; i < sURLVariables.length; i++) {
                    sParameterName = sURLVariables[i].split('=');

                    if (sParameterName[0] === sParam) {
                        return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
                    }
                }
            };

            $("body").on("click", "#export-btn", function () {

                var transactionId = getUrlParameter('transactionId');
                // Output the result
                var elements = new Array();
                $("#table TBODY TR").each(function () {
                    var row = $(this);
                    var trElement = {};
                    trElement.ProductName = row.find("TD").eq(0).html();
                    trElement.Price = row.find("TD").eq(1).html();
                    trElement.Amount = row.find("TD").eq(2).html();
                    trElement.Unit = row.find("TD").eq(3).html();
                    trElement.transactionId = transactionId;
                    elements.push(trElement);
                });

                var data = JSON.stringify(elements);
                $.ajax({
                    url: 'Create',
                    data: data,
                    contentType: "application/json; charset=utf-8",
                    type: "POST",
                    success: function (data) {
                        url = window.location.href;
                        url = url.replace("TransactionElement/Create?transactionId=" + transactionId+"#", "Transaction");
                        location.href = url; 
                    }
                });
            })
        });
    })
</script>





